.rank-info {
    width: 100%;
    background: linear-gradient(180deg,#36aef9,#57cff6);
}

    .rank-info figure {
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
    }

        .rank-info figure img {
            width: 100%;
            height: 100%;
        }

    .rank-info p {
        padding: 15px 0;
        text-align: center;
    }

        .rank-info p i,
        .rank-info p mark {
            display: inline-block;
            vertical-align: middle;
        }

        .rank-info p i {
            margin-right: 5px;
            width: 22px;
            height: 28px;
            vertical-align: middle;
            background: url("../Images/rank/rank.png") no-repeat center center;
            background-size: 100% 100%;
        }

        .rank-info p mark {
            font-size: 20px;
            color: white;
        }

.rank-section {
    min-height: 300px;
}

.rank-table {
    width: 100%;
    table-layout: fixed;
}

    .rank-table thead tr th {
        font-size: 16px;
        font-weight: normal;
    }

    .rank-table thead tr th,
    .rank-table tbody tr td {
        height: 45px;
        line-height: 45px;
        text-align: center;
        border-bottom: 1px solid #eee;
    }

    .rank-table tbody tr td {
        font-size: 14px;
        color: #4a4a4a;
    }

.top {
    display: inline-block;
    width: 18px;
    height: 24px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

    .top.top1 {
        background-image: url("../Images/rank/top1.png");
    }

    .top.top2 {
        background-image: url("../Images/rank/top2.png");
    }

    .top.top3 {
        background-image: url("../Images/rank/top3.png");
    }
