body {
    background: rgb(36, 140, 226) url("../Images/send/bg_send.png") no-repeat;
    background-size: 100% auto;
}

.main {
    display: block;
    margin: 100px 36px 0;
}

.prompt {
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    color: white;
}

.people {
    display: block;
    margin: 45px auto 0;
    width: 131px;
    height: 125px;
    background: url("../Images/send/people.png") no-repeat center center;
    background-size: 100% 100%;
}

.send {
    display: block;
    margin: 0 auto;
    width: 157.5px;
    height: 54px;
    font-size: 24px;
    font-weight: bold;
    line-height: 54px;
    color: white;
    text-align: center;
    background: url("../Images/send/sbutton.png") no-repeat center center;
    background-size: 100% 100%;
    border: none;
    outline: none;
}

.result {
    position: relative;
    display: block;
    margin: 60px auto;
    width: 300px;
    height: 330px;
    text-align: center;
    background: url("../Images/send/result.png") no-repeat center center;
    background-size: 100% 100%;
    border: 1px solid transparent;
}

    .result .result-total {
        margin-top: 80px;
        font-size: 40px;
        font-weight: bold;
        color: rgb(192, 50, 31);
    }

    .result .result-praise,
    .result .result-prompt {
        font-size: 16px;
        color: rgb(159, 113, 29);
    }

    .result .result-divide {
        display: block;
        margin: 65px auto 0;
        width: 160px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        color: rgb(236, 90, 54);
        text-decoration: none;
        background-color: rgb(248, 210, 51);
        border-radius: 4px;
    }
