body {
    background: rgb(12,150,238) url("../Images/task/bg_task.png") no-repeat;
    background-size: 100% auto;
}

.task-list {
    margin: 0 15px 15px;
    padding-bottom: 100px;
    background-color: white;
    border-radius: 5px;
}

    .task-list .task-item {
        position: relative;
        padding: 30px 20px 0 20px;
    }

        .task-list .task-item .task-title {
        }

            .task-list .task-item .task-title cite {
                font-size: 15px;
                color: rgb(51,51,51);
            }

            .task-list .task-item .task-title mark {
                margin-left: 10px;
                padding: 3px 6px;
                font-size: 12px;
                color: white;
                background-color: rgb(254,87,54);
                border-radius: 2px;
            }

        .task-list .task-item .task-content {
            padding: 5px 0;
            width: 70%;
            font-family: "微软雅黑";
            line-height: 1.4;
            text-align: justify;
            color: rgb(105,105,105);
        }

            .task-list .task-item .task-content a {
                color: rgb(5,120,206);
                text-decoration: none;
            }

        .task-list .task-item .task-button {
            position: absolute;
            top: 57px;
            right: 20px;
            display: block;
            padding: 0 8px;
            height: 26px;
            font-size: 14px;
            line-height: 26px;
            color: white;
            text-align: center;
            text-decoration: none;
            background-color: rgb(68,163,233);
            border-radius: 15px;
        }

        .task-list .task-item .cline {
            margin: 30px auto 0;
            width: 100%;
            height: 1px;
            background: radial-gradient(circle,#dcdcdc,#feffff);
        }

.task-hfyx,
.task-jk {
    display: none;
}

.task-jk {
    position: relative;
    padding-top: 50px;
}

/*二维码样式*/
.muqtang {
    display: block;
    margin: 10px auto;
    width: 52%;
    height: auto;
}

.muqtang-desc {
    padding: 5px 0;
    font-family: "微软雅黑";
    line-height: 1.5;
    text-align: justify;
    color: rgb(105,105,105);
}

/*能量条样式*/
.powerbar {
    position: relative;
    margin-bottom: 30px;
    width: 75%;
}

    .powerbar .powerbar-main {
        position: relative;
        margin: auto;
        width: 147px;
        height: 63.5px;
        background: url("../Images/task/powerbar.png") no-repeat center center;
        background-size: 147px 63.5px;
    }

        .powerbar .powerbar-main .powerbar-data {
            position: absolute;
            top: 18px;
            right: 24px;
            bottom: 18px;
            left: 24px;
            z-index: 2;
            border-radius: 5px;
            overflow: hidden;
        }

        .powerbar .powerbar-main .powerbar-integral {
            position: absolute;
            z-index: 1;
            width: auto;
            height: 100%;
            background-color: rgb(246,222,77);
        }

    .powerbar .powerbar-shade {
        margin: 15px auto;
        height: 29px;
        background: url("../Images/task/powerbar_shade.png") no-repeat center center;
        background-size: 156px 29px;
    }

/*跳动云朵样式*/
.cloud {
    position: absolute;
    top: -118px;
    left: 65%;
    width: 98.5px;
    height: 75.5px;
    background: url("../Images/task/cloud.png") no-repeat center center;
    background-size: 100% 100%;
    -moz-animation: bounce 2.3s cubic-bezier(0.25,0.20,0.25,0.20) infinite;
    -o-animation: bounce 2.3s cubic-bezier(0.25,0.20,0.25,0.20) infinite;
    -webkit-animation: bounce 2.3s cubic-bezier(0.25,0.20,0.25,0.20) infinite;
    animation: bounce 2.3s cubic-bezier(0.25,0.20,0.25,0.20) infinite;
}

@keyframes bounce {
    0%,100% {
        -moz-transform: translateY(20vh) scaleY(.98);
        -ms-transform: translateY(20vh) scaleY(.98);
        -o-transform: translateY(20vh) scaleY(.98);
        -webkit-transform: translateY(20vh) scaleY(.98);
        transform: translateY(20vh) scaleY(.98);
    }

    80% {
        -moz-transform: translateY(15vh) scaleY(1.02);
        -ms-transform: translateY(15vh) scaleY(1.02);
        -o-transform: translateY(15vh) scaleY(1.02);
        -webkit-transform: translateY(15vh) scaleY(1.02);
        transform: translateY(15vh) scaleY(1.02);
    }
}

@-moz-keyframes bounce {
    0%,100% {
        -moz-transform: translateY(20vh) scaleY(.98);
        -ms-transform: translateY(20vh) scaleY(.98);
        -o-transform: translateY(20vh) scaleY(.98);
        -webkit-transform: translateY(20vh) scaleY(.98);
        transform: translateY(20vh) scaleY(.98);
    }

    80% {
        -moz-transform: translateY(15vh) scaleY(1.02);
        -ms-transform: translateY(15vh) scaleY(1.02);
        -o-transform: translateY(15vh) scaleY(1.02);
        -webkit-transform: translateY(15vh) scaleY(1.02);
        transform: translateY(15vh) scaleY(1.02);
    }
}

@-webkit-keyframes bounce {
    0%,100% {
        -moz-transform: translateY(20vh) scaleY(.98);
        -ms-transform: translateY(20vh) scaleY(.98);
        -o-transform: translateY(20vh) scaleY(.98);
        -webkit-transform: translateY(20vh) scaleY(.98);
        transform: translateY(20vh) scaleY(.98);
    }

    80% {
        -moz-transform: translateY(15vh) scaleY(1.02);
        -ms-transform: translateY(15vh) scaleY(1.02);
        -o-transform: translateY(15vh) scaleY(1.02);
        -webkit-transform: translateY(15vh) scaleY(1.02);
        transform: translateY(15vh) scaleY(1.02);
    }
}

/*滚动字幕样式*/
.roll {
    position: relative;
    display: block;
    margin: auto;
    width: 92%;
    height: 20px;
    overflow: hidden;
}

    .roll .roll-icon {
        display: inline-block;
        float: left;
        width: 21px;
        height: 20px;
        background: url("../Images/task/notice.png") no-repeat 0 center;
        background-size: 16px 11px;
    }

    .roll .roll-list {
        position: absolute;
        margin-left: 20px;
    }

        .roll .roll-list li {
            font-size: 14px;
            height: 20px;
            line-height: 20px;
            color: rgb(166,166,166);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
