@{
    ViewBag.Title = "获得更多红包";
    double random = new Random().NextDouble();
    List<string> notices = new List<string>() {
        "读“网友品鉴”，积攒红包能量！",
        "品读、点赞、评论、打赏、分享积攒能量！",
        "积满能量即可兑换一次“发红包”机会！",
        "品鉴好文邀友共赏，精彩节目约人同看！"
    };
}

@section styles{
    <link href="~/Content/task.css" rel="stylesheet" />
}

<header class="title">
    <p class="title-ckyx"></p>
    <p class="title-hbzf"></p>
    <p class="title-cjfl"></p>
</header>

<ul class="task-list">
    <li class="task-item">
        <p class="task-title">
            <cite>加入微厅</cite>
            <mark>发红包机会，每天+1</mark>
        </p>
        <p class="task-content">合肥有线微信营业厅，查询、充值、订购、活动钜惠，就是辣么简单愉快！</p>
        <a class="task-button">立即加入</a>

        <section class="task-hfyx">
            <!--合肥有线二维码-->
            <img class="muqtang" src="~/Images/qrcode.png" alt="合肥有线公众号">
            <p class="muqtang-desc">扫描此二维码，进入合肥有线微信公众号；进入“微信营业厅”，绑定有线电视账户，即可使用账户查询、微信缴费等便捷服务，并且一波又一波的优惠活动就在这等你发现哦！</p>
        </section>

        <div class="cline"></div>
    </li>
    <li class="task-item">
        <p class="task-title">
            <cite>领略有线新视界</cite>
            <mark>发红包+1</mark>
        </p>
        <p class="task-content">频道辣么多，不知看什么！不如先看看“<a href="http://m.niceviews.cn/article/index?hfyx_openid=@(ViewBag.OpenId)">网友品鉴</a>”！剧情剖析，倾情推荐，有聊头，品看点！</p>
        <a class="task-button">立即领略</a>

        <section class="task-jk">
            <!--能量条-->
            <section class="powerbar">
                <div class="powerbar-main">
                    <div class="powerbar-data">
                        <div class="powerbar-integral"></div>
                    </div>
                </div>
                <div class="powerbar-shade"></div>
            </section>
            <!--跳动云朵-->
            <div class="cloud"></div>
            <!--滚动字幕-->
            <section class="roll">
                <i class="roll-icon"></i>
                <ul class="roll-list">
                    @foreach (var item in notices)
                    {
                        <li>@item</li>
                    }
                </ul>
            </section>
        </section>
    </li>
</ul>

@section scripts{
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="~/Scripts/jwx.js"></script>
    <script>
        function show() {
            $(".task-button").each(function () {
                $(this).click(function () {
                    var $next = $(this).next();
                    if ($next.is(".task-jk")) {
                        //经看的选项卡
                        if ($next.is(":visible")) {
                            $next.hide();
                        } else {
                            $next.show();
                            getIntegral();
                        }
                    } else {
                        $next.toggle();
                    }
                });
            });
        }

        function roll() {
            var count = 0;
            setInterval(function () {
                if (count < 3) {
                    count = count + 1;
                } else {
                    count = 0;
                    $(".roll .roll-list li:first").css("top", 0);
                }
                $(".roll .roll-list").animate({ top: -20 * count });
            }, 3000);
        }

        function refreshIntegral(integral) {
            var width = integral;
            if (integral > 10) {
                width = 10;
            }
            if (integral < 0) {
                width = 0;
            }
            $(".powerbar-integral").attr("data-integral", integral).width(width);
        }

        function getIntegral() {
            $.ajax({
                url: '@Url.Action("GetIntegral", "User")',
                type: "GET",
                dataType: "json",
                success: function (result, status, xhr) {
                    if (result) {
                        if (result.status === -1) {
                            alert(JSON.stringify(result.msg, null, 2));
                        } else if (result.status === 0) {
                            alert("您还未绑定经看平台！赶快去“品鉴文章”吧！");
                        } else if (result.status === 1) {
                            refreshIntegral(result.result);
                        } else {
                            alert("无法识别的状态！");
                        }
                    } else {
                        alert("服务器处理异常！");
                    }
                },
                error: function (xhr, status, error) {
                    alert(JSON.stringify(error));
                }
            });
        }

        function exchangeIntegral() {
            var integral = parseInt($(".powerbar-integral").attr("data-integral"));
            if (isNaN(integral)) {
                alert("无效的积分数据！");
                return;
            }
            $(".powerbar-main").click(function () {
                $.ajax({
                    url: '@Url.Action("ExchangeIntegral", "User")',
                    type: "GET",
                    data: { integral: integral },
                    dataType: "json",
                    success: function (result, status, xhr) {
                        alert("恭喜您！兑换成功！");
                        refreshIntegral(result);
                    },
                    error: function (xhr, status, error) {
                        alert(JSON.stringify(error));
                    }
                });
            });
        }

        $(function () {
            roll();
            show();
            getIntegral();
            exchangeIntegral();
        });
    </script>
}