@{
    ViewBag.Title = "错误";
}

@section styles{
    <link href="~/Content/error.css" rel="stylesheet" />
}


<article>
    <div class="error-img"></div>
    <p class="error-msg">@ViewData.Model</p>
    <p class="error-help">刷新屏幕，重新加载</p>
</article>